language: c
compiler:
  - gcc
  - clang

env:
  - VER_NGINX=1.6.3
  - VER_NGINX=1.8.1
  - VER_NGINX=1.9.11

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y libzmq3-dev

install:
  - mkdir ./vendor && cd ./vendor
  - wget "http://nginx.org/download/nginx-${VER_NGINX}.tar.gz" && tar -xf "nginx-${VER_NGINX}.tar.gz"

  - cd "nginx-${VER_NGINX}"
  - ./configure --add-module=../..

script: make
